@import "src/scss/index.scss";

.titles {
  color: $color-main;
  text-transform: uppercase;
  th {
    padding-bottom: 10px;
    font-size: 16px;
    border-bottom: 1px solid $border-color;
    @include sm {
      font-size: 14px;
    }
    @include xs {
      padding: 12px;
      font-size: 10px;
    }
  }
}
.text {
  color: $text-color-light-gray;
  td {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid $border-color;
    &:nth-child(1) {
      border-right: 1px solid $border-color;
    }
    &:nth-child(2) {
      border-right: 1px solid $border-color;
    }
    @include sm {
      font-size: 12px;
    }
    @include xs {
      font-size: 8px;
      padding: 4px;
    }
  }
}
.show_more {
  background-color: $color-main;
  border-radius: 5px;
  max-width: 100px;
  margin: 0 auto;
  cursor: pointer;
  a {
    display: block;
    padding: 5px;
  }
  &:hover {
    background-color: $button-color-hover;
  }
  @include xs {
    max-width: 50px;
  }
}
