@import "src/scss/index.scss";

.variables {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.table_container {
  background-color: #f6f6fe;
  border-radius: 10px;
  padding: 30px;
  @include xs {
    padding: 10px;
  }
}
.title {
  color: $color-main;
  font-size: 32px;
  @include sm {
    font-size: 20px;
  }
}
